* text=auto !eol
cms/pom.xml -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/gallerymagick/cms/plugins/gallery/processor/MagickCommandGalleryProcessor.java -text svneol=unset#text/plain
cms/src/main/java/org/onehippo/forge/gallerymagick/cms/plugins/gallery/processor/MagickCommandGalleryProcessorPlugin.java -text svneol=unset#text/plain
core/pom.xml -text
core/src/main/java/org/onehippo/forge/gallerymagick/core/ImageDimension.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/gallerymagick/core/command/AbstractMagickCommand.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/gallerymagick/core/command/GraphicsMagickCommand.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/gallerymagick/core/command/GraphicsMagickCommandUtils.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/gallerymagick/core/command/ImageMagickCommand.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/gallerymagick/core/command/ImageMagickCommandUtils.java -text svneol=unset#text/plain
core/src/main/java/org/onehippo/forge/gallerymagick/core/command/MagickExecuteException.java -text svneol=unset#text/plain
core/src/test/java/org/onehippo/forge/gallerymagick/core/command/AbstractGraphicsMagickCommandTest.java -text svneol=unset#text/plain
core/src/test/java/org/onehippo/forge/gallerymagick/core/command/AbstractImageMagickCommandTest.java -text svneol=unset#text/plain
core/src/test/java/org/onehippo/forge/gallerymagick/core/command/AbstractMagickCommandTest.java -text svneol=unset#text/plain
core/src/test/java/org/onehippo/forge/gallerymagick/core/command/GraphicsMagickCommandTest.java -text svneol=unset#text/plain
core/src/test/java/org/onehippo/forge/gallerymagick/core/command/GraphicsMagickCommandUtilsTest.java -text svneol=unset#text/plain
core/src/test/java/org/onehippo/forge/gallerymagick/core/command/ImageMagickCommandTest.java -text svneol=unset#text/plain
core/src/test/java/org/onehippo/forge/gallerymagick/core/command/ImageMagickCommandUtilsTest.java -text svneol=unset#text/plain
core/src/test/resources/hippo.bmp -text
core/src/test/resources/hippo.gif -text
core/src/test/resources/hippo.jpg -text
core/src/test/resources/hippo.png -text
core/src/test/resources/hippo.tiff -text
core/src/test/resources/log4j.xml -text
/pom.xml -text
src/site/site.xml -text
src/site/xdoc/build-from-source.xml -text
src/site/xdoc/dev-howto.xml -text svneol=unset#text/plain
src/site/xdoc/index.xml -text
src/site/xdoc/install.xml -text
src/site/xdoc/release-notes.xml -text
